.app__checkout{
    font-family: Nunito;
}
.submitBtn{
    background: var(--card);
    border: none;
    color: white;
    width: 80%;
}
.submitBtn:hover{
    color: white;
}
.form-control{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control:focus{
    box-shadow: none;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.step1Btn{
    background: var(--card);
    border: none;
    color: white;
    width: 40%;
    margin: auto;
    height: 30px;
    border-radius: 3px;
}
.step2Btn{
    background: var(--card);
    border: none;
    color: white;
    border-radius: 4px;
    width: 30%;
    height: 30px;
    margin: 2px;
}

.summary{
    width: 100%;
    background: var(--card);
    color: white;
    margin-top: 2vh;
}
.summary:hover{
    color: white;
}