.app__hero{
    font-family: poppins;
    margin-bottom: 14vh;
}
.navbar-brand{
    font-weight: bolder;
    color: var(--nav);
    font-size: 40px;
}
.nav-link{
    color: #3D5974;
}
.intro{
    font-size: 34px;
    margin-top: 14vh;
    margin-left: 4vh;
    font-weight: bold;
}
.text{
    margin-left: 4vh;
    font-weight: 100;
}
.right{
    margin-right: 10vh;
}